* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    /* background-color: lightblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;
    padding: 5px;
}

/* container */
.container {
    /* display: flex 讓main在上面 */
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 ng */
    /* 記得減號的前後都有空格 */
    height: calc(768px - 65px - 20px);
    /* background-color: lightyellow; */
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 100%;
    /* =width: 215px */
    /* flex-basis: 100px; */
    /* height: calc(100% - 25px); */
    /* flex-direction 主軸長度　item method */
    height: calc(100% - 25px);
    /* background-color: lightpink; */
    border: 1px solid black;
    border-right: 0;

    font-family: '標楷體';
    /*文字粗細*/
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #FF00FF;
}

.aside-footer {
    width: 100%;
    flex-basis: 25px;
    /* background-color: lightgray; */
    border: 1px solid black;
    border-top: 0;
    border-right: 0;

    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;

    padding-top: 2px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.menu-item {
    margin-top: 5px;
    background-color: lightblue;
    width: 200px;
    height: 35px;
    background-image: url(./../images/menu1.png);
    border-radius: 20px;
    padding-top: 8px;
    color: #000000;
    font-size: 16px;
}

.menu-item:hover {
    background-image: url(./../images/menu2.png);
}

/* 社團介紹區 用border 畫底線  */
.aside-title {
    border-bottom: 1px solid rgb(135, 35, 180);
    /* background-color: lightblue; */
    padding: 3px;
}

/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine; */
}

/* 跑馬燈(marquee)廣告區也在這裡設定 */
.main-header {
    width: 100%;
    height: 29px;
    /* background-color: lightgoldenrodyellow; */
    border: 1px solid black;
    border-bottom: 0;

    font-size: 24px;
    font-family: '標楷體';
    color: #0000FF;
}

.main-footer {
    /* margin: auto; */
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: lightseagreen; */
    border: 1px solid black;


}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightcoral; */
    margin: auto;
    border: 1px solid black;
    border-top: 0;
}

/* 在main-footer裡面包一個iframe */
iframe {
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */

}