* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
    margin: auto;
}

/* container */
.container {
    /* 讓main在上面 */
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 ng */
    /* 記得減號的前後都有空格 */
    height: calc(768px - 65px - 20px);
    background-color: lightyellow;
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: blueviolet;
}

/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: aquamarine;
}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: lightcoral;
    margin: auto;
}