* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
    margin: auto;
}

/* container */
.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: lightpink;
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: blueviolet;

    display: flex;
    flex-direction: column;
}








/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: aquamarine;
}


/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: lightsalmon;
    margin: auto;
}