* {
    box-sizing: border-box;
    overflow: hidden;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
    margin: auto;
}

/* container */
.container {
    /* display: flex 讓main在上面 */
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 ng */
    /* 記得減號的前後都有空格 */
    height: calc(768px - 65px - 20px);
    background-color: lightyellow;
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: blueviolet;

    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 100%;
    /* =width: 215px */
    /* flex-basis: 100px; */
    /* height: calc(100% - 25px); */
    /* flex-direction 主軸長度　item method */
    height: calc(100% - 25px);
    background-color: lightpink;
}

.aside-footer {
    width: 100%;
    flex-basis: 25px;
    background-color: lightblue;
}

/* container-right */
main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: aquamarine;
}

.main-header {
    width: 100%;
    height: 29px;
    background-color: lightgoldenrodyellow;
}

.main-footer {
    /* margin: auto; */
    width: 100%;
    height: calc(100% - 29px);
    background-color: lightseagreen;
}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: lightcoral;
    margin: auto;
}